[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/slim"]
	path = bundle/slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/snipmate-mw-utils"]
	path = bundle/snipmate-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-tlib"]
	path = bundle/snipmate-tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/stefanoverna/snipmate-snippets.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/pasta"]
	path = bundle/pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-eunuch.git"]
	path = bundle/vim-eunuch.git
	url = git://github.com/tpope/vim-eunuch.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-sorround"]
	path = bundle/vim-sorround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
